/src/*/config.h

CMakeLists.txt.user
*.pro.user
*.autosave
/build*
/build-debug
/src/build
.vscode
*.so

node_modules
.version

site

/tests/extracted_tests

/src/hobbits-core/hobbitscoreconfig.h
/src/hobbits-gui/hobbitsguiconfig.h
/src/hobbits-python/hobbitspythonconfig.h
/src/hobbits-runner/hobbitsrunnerconfig.h